* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(124, 124, 211);
}

#corpo {
    width: 1000px;
    background-color: #fff;
    margin: 0 auto;
    border-left: 2px solid #ccc;
}

#topo {
    padding: 20px 25px;
}

#topo a{
    color: #333;
    text-decoration: none;
    font: 20px Arial;
}

#topo a:hover {
    text-decoration: underline;
    color: red;
}

#conteudo {
    background-color: rgb(255, 255, 255);
}

button {
    margin-top: 10px;
}